.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: lightgrey;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colon div {
  height: 2vh;
  width: 2vh;
  margin: 14vh 2vh;
  border-radius: 100%;
  background: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
